

body {
    @import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

    margin: 0;
    background: #222;
    font-family: "Spline Sans", sans-serif;
    font-weight: 300;
}















header {
    background: #222;

}





.cart-button
{
    size: 500px;
    float: right;
    position:right;
    
    
}


a:hover {
    background-color: #3aaa5c;
  }






  .nav-links ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline;
    text-align: center;
  }
  
  
  
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }









.card {
    box-shadow:0 4px 8px 0 rbga(0, 0, 0, 0.2);
    max-width: 300px;
    margin:auto;
    text-align: center;
    font-family: arial;
}

.price {
    color:grey;
    font-size: 22px
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}