@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');


*{
  font-family: "Spline Sans", sans-serif;
  margin: 0;
}



  body {
    
    background-color: #E3E7E8;
    font-weight: 300;
  }

  header {
    background: #222;

   }

  a:hover {
    background-color: #3aaa5c;
  }




/*!                NavBar                 */

  header {
    background: #222;

  }
  .ri-shopping-cart-line
  {
    color: white;
  }

  .cart-button
  {
    float: right;
    position:right;
    display: block;
    width: 7%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    
    
  }
  .cart-button:hover{
    background-color: #52f182;
  }

  .cart-quantity
  {
    float: right;
    color: white;
    padding: 1px 5px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(219, 53, 53);
    position: absolute;
    top: 0px;
    right: 145px;
    

  }
  .cart{
    position: relative;
  }

  a:hover {
    background-color: #3aaa5c;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    
}
  
  li {
    display: block;
    float: left;
    block-size: 45px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-link{
    float: center;
  }
  
  .nav-item:active{
    color:#3aaa5c
  }





/*!                 Shop                 */


div.card {
    box-shadow:0 4px 8px 0 rbga(0, 0, 0, 0.2);
    max-width: 300px;
    margin:auto;
    text-align: center;
    font-family: arial;
    height: auto;
    border: solid 2px rgb(20, 20, 20);
    
    height: auto;
    
    
}

.card-img-top {
  height: 300px;
}


.price {
    color:black;
    font-size: 20px;
}


.add-to-cart-btn { /*adding some attributes to the add to cart button*/
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:#3aaa5c;
    background-color:#3aaa5c;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}

