.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add some spacing between cart items */
}

/* Style the image */
.cart-item img {
  max-width: 100px; /* Adjust the image size as needed */
  margin-right: 10px; /* Add spacing between the image and other attributes */
}

/* Style the attributes container */
.cart-item-details {
  flex-grow: 1; /* Allow attributes to take up remaining space */
}

/* Style the remove button */
.remove-from-cart-btn {
  margin-left: auto; /* Push the button to the right */
}

.clear-cart-btn {
  width: 200px;
  height: 100px;
  background-color: red;
}