@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');


*{
  font-family: "Spline Sans", sans-serif;
  margin: 0;
}

body {
    
    background-color: #E3E7E8;
    font-weight: 300;
}

header {
    background: #222;

  }

a:hover {
    background-color: #3aaa5c;
}




/*!                NavBar                 */

  header {
    background: #222;

  }
  .ri-shopping-cart-line
  {
    color: white;
  }

  .cart-button
  {
    float: right;
    position:right;
    display: block;
    width: 7%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    
    
  }
  .cart-button:hover{
    background-color: #52f182;
  }

  .cart-quantity
  {
    float: right;
    color: white;
    padding: 1px 5px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(219, 53, 53);
    position: absolute;
    top: 0px;
    right: 145px;
    

  }
  .cart{
    position: relative;
  }

  a:hover {
    background-color: #3aaa5c;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    
}
  
  li {
    display: block;
    float: left;
    block-size: 45px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-link{
    float: center;
  }
  
  .nav-item:active{
    color:#3aaa5c
  }





/*                Shop                 */


.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Dynamic columns */
  grid-gap: 80px; /* Increase spacing between cards */
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

/* Style for each product card */
.product-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
  border: solid 2px rgb(20, 20, 20);
  padding: 20px;
  max-width: 100%; /* Allow cards to shrink when the window is small */
  display: flex;
  flex-direction: column; /* Stack card content vertically */
  justify-content: space-between; /* Push content to the top and bottom */
  height: 100%; /* Ensure the card takes up the full height */
}

.product-card img {
  max-width: 100%; /* Ensure the image doesn't exceed the card's width */
  height: auto;
  flex: 1;
}

.price {
  color: black;
  font-size: 20px;
  font-weight: bold; /* Add bold font weight for prices */
}

.add-to-cart-btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3aaa5c;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 10px; /* Add some spacing between the button and other elements */
}

.add-to-cart-btn:hover {
  background-color: #52f182;
}
